#meals{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.meal img{
    width: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.meal h6{
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}